// Remove chrome autocomplete stylish
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.field {
  position: relative;
  margin-bottom: 55px;
  width: 100%;

  &__input,
  &__textarea,
  &__label {
    position: absolute;
    border-radius: 4px;
  }

  &__label {
    top: 10px;
    left: 10px;
    color: $primary_color;
    background: $background_color;
    z-index: 1;
    padding: 2px;
    transition: .3s ease;
  }

  &:focus-within &__label{
    top: -10px;
  }

  &.filled &__label{
    top: -10px;
  }

  &__input, 
  &__textarea {
    background: transparent;
    padding: 10px;
    width: 100%;
    border: 1px solid $primary_color;
    font-size: 1rem;
    color: $second_color;
    @include font;
    @include input_animation;
  }
}


.input, .textarea {
  @include shadow_default;
  padding: 15px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1rem;
  @include font;
  @include input_animation;
}

.label {
  margin-bottom: 5px;
}